@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");
body {
  background: #F7F8FC;
  font-family: "Poppins", sans-serif;
}

#assignment-title {
  font-size: 3.5rem;
  margin-top: 50px;
  margin-bottom: 50px;
}

.sorting-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.sorting-menu label {
  margin-right: 25px;
}

#table-content tr {
  cursor: pointer;
}
#table-content tr:hover {
  background: #d3eeff;
}

#userModal #profilePicture {
  border-radius: 50%;
}
#userModal table {
  width: 100%;
  margin: 10px 0px 30px 0px;
}
#userModal table tr th {
  font-weight: 300;
}
#userModal table tr th:first-child {
  width: 35%;
  font-weight: 800;
}

/*# sourceMappingURL=stylesheet.css.map */
